#Load Packages

In [1]:
import pandas as pd
import json
from datetime import datetime
import numpy as np
from ast import literal_eval

In [2]:
receipts = pd.read_json('receipts.json',lines=True)
users = pd.read_json('users.json',lines=True)
brands = pd.read_json('brands.json',lines=True)

# Parse Receipt Data

In [3]:
receipts.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [4]:
receipts['_id'] = receipts['_id'].apply(lambda x: x['$oid'])

In [5]:
def date_converter(x):
  try:
    return(datetime.utcfromtimestamp(int(x['$date'])/1000).strftime('%Y-%m-%d %H:%M:%S'))
  except TypeError:
    return(np.nan)

In [6]:
receipts['createDate'] = receipts['createDate'].apply(lambda x: date_converter(x))
receipts['dateScanned'] = receipts['dateScanned'].apply(lambda x: date_converter(x))
receipts['finishedDate'] = receipts['finishedDate'].apply(lambda x: date_converter(x))
receipts['modifyDate'] = receipts['modifyDate'].apply(lambda x: date_converter(x))
receipts['pointsAwardedDate'] = receipts['pointsAwardedDate'].apply(lambda x: date_converter(x))
receipts['purchaseDate'] = receipts['purchaseDate'].apply(lambda x: date_converter(x))

In [7]:
receipts.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,500.0,2021-01-03 00:00:00,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,2021-01-02 15:24:43,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 15:25:37,2021-01-03 15:25:37,NaN,2021-01-03 15:25:42,NaN,5.0,2021-01-03 00:00:00,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,5.0,2021-01-03 00:00:00,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,2021-01-03 15:25:06,2021-01-03 15:25:06,2021-01-03 15:25:11,2021-01-03 15:25:11,2021-01-03 15:25:06,5.0,2021-01-02 15:25:06,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [8]:
rewardsReceiptItemList = receipts[['_id','rewardsReceiptItemList']]
receipts.drop(columns = 'rewardsReceiptItemList', inplace = True)

In [9]:
rewardsReceiptItemList = rewardsReceiptItemList.explode('rewardsReceiptItemList')
rewardsReceiptItemList.reset_index(inplace=True)

In [10]:
rewardsReceiptItemList.rewardsReceiptItemList = rewardsReceiptItemList.rewardsReceiptItemList.fillna('{}')

In [11]:
rewardsReceiptItemList.rewardsReceiptItemList = rewardsReceiptItemList.rewardsReceiptItemList.apply(lambda x:str(x))
rewardsReceiptItemList.rewardsReceiptItemList = rewardsReceiptItemList.rewardsReceiptItemList.apply(literal_eval)

In [12]:
rewardsReceiptItemList = rewardsReceiptItemList.join(pd.json_normalize(rewardsReceiptItemList.pop('rewardsReceiptItemList')))

In [13]:
rewardsReceiptItemList.head()

,index,_id,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,...,itemNumber,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId
0,0,5ff1e1eb0a720f0523000575,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,5ff1e1bb0a720f052300056b,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,5ff1e1bb0a720f052300056b,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,5ff1e1f10a720f052300057a,NaN,NaN,NaN,NaN,False,1,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,5ff1e1ee0a7214ada100056f,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
receipts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      1119 non-null   object
 1   bonusPointsEarned        544 non-null    float64
 2   bonusPointsEarnedReason  544 non-null    object
 3   createDate               1119 non-null   object
 4   dateScanned              1119 non-null   object
 5   finishedDate             568 non-null    object
 6   modifyDate               1119 non-null   object
 7   pointsAwardedDate        537 non-null    object
 8   pointsEarned             609 non-null    float64
 9   purchaseDate             671 non-null    object
 10  purchasedItemCount       635 non-null    float64
 11  rewardsReceiptStatus     1119 non-null   object
 12  totalSpent               684 non-null    float64
 13  userId                   1119 non-null   object
dtypes: float64(4), object(10)
memory usage: 122.5+ KB

In [15]:
rewardsReceiptItemList.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 36 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   index                               7381 non-null   int64
 1   _id                                 7381 non-null   object
 2   barcode                             3090 non-null   object
 3   description                         6560 non-null   object
 4   finalPrice                          6767 non-null   object
 5   itemPrice                           6767 non-null   object
 6   needsFetchReview                    813 non-null    object
 7   partnerItemId                       6941 non-null   object
 8   preventTargetGapPoints              358 non-null    object
 9   quantityPurchased                   6767 non-null   float64
 10  userFlaggedBarcode                  337 non-null    object
 11  userFlaggedNewItem                  323 non-null    object
 12  userFlaggedPrice                    299 non-null    object
 13  userFlaggedQuantity                 299 non-null    float64
 14  needsFetchReviewReason              219 non-null    object
 15  pointsNotAwardedReason              340 non-null    object
 16  pointsPayerId                       1267 non-null   object
 17  rewardsGroup                        1731 non-null   object
 18  rewardsProductPartnerId             2269 non-null   object
 19  userFlaggedDescription              205 non-null    object
 20  originalMetaBriteBarcode            71 non-null     object
 21  originalMetaBriteDescription        10 non-null     object
 22  brandCode                           2600 non-null   object
 23  competitorRewardsGroup              275 non-null    object
 24  discountedItemPrice                 5769 non-null   object
 25  originalReceiptItemText             5760 non-null   object
 26  itemNumber                          153 non-null    object
 27  originalMetaBriteQuantityPurchased  15 non-null     float64
 28  pointsEarned                        927 non-null    object
 29  targetPrice                         378 non-null    object
 30  competitiveProduct                  645 non-null    object
 31  originalFinalPrice                  9 non-null      object
 32  originalMetaBriteItemPrice          9 non-null      object
 33  deleted                             9 non-null      object
 34  priceAfterCoupon                    956 non-null    object
 35  metabriteCampaignId                 863 non-null    object
dtypes: float64(3), int64(1), object(32)
memory usage: 2.0+ MB

# Parse User Data

In [16]:
users.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [17]:
users['_id'] = users['_id'].apply(lambda x: x['$oid'])
users['createdDate'] = users['createdDate'].apply(lambda x: date_converter(x))
users['lastLogin'] = users['lastLogin'].apply(lambda x: date_converter(x))

In [18]:
users.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 15:25:30,2021-01-03 15:25:30,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI

In [19]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    object
 3   lastLogin     433 non-null    object
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), object(6)
memory usage: 23.8+ KB

# Parse Brand Data

In [20]:
brands.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827

In [21]:
brands['_id'] = brands['_id'].apply(lambda x: x['$oid'])

In [22]:
cpg = brands[['_id','cpg']]
brands.drop(columns = 'cpg', inplace = True)

In [23]:
cpg = cpg.join(pd.json_normalize(cpg.pop('cpg')))

In [24]:
cpg

                           _id  $ref                  $id.$oid
0     601ac115be37ce2ead437551  Cogs  601ac114be37ce2ead437550
1     601c5460be37ce2ead43755f  Cogs  5332f5fbe4b03c9a25efd0ba
2     601ac142be37ce2ead43755d  Cogs  601ac142be37ce2ead437559
3     601ac142be37ce2ead43755a  Cogs  601ac142be37ce2ead437559
4     601ac142be37ce2ead43755e  Cogs  5332fa12e4b03c9a25efd1e7
...                        ...   ...                       ...
1162  5f77274dbe37ce6b592e90c0  Cogs  5f77274dbe37ce6b592e90bf
1163  5dc1fca91dda2c0ad7da64ae  Cogs  53e10d6368abd3c7065097cc
1164  5f494c6e04db711dd8fe87e7  Cogs  5332fa12e4b03c9a25efd1e7
1165  5a021611e4b00efe02b02a57  Cogs  5332f5f6e4b03c9a25efd0b4
1166  6026d757be37ce6369301468  Cogs  6026d757be37ce6369301467

[1167 rows x 3 columns]

In [25]:
cpg.rename(columns={"$ref": "ref", "$id.$oid": "oid"}, inplace = True)

In [26]:
cpg

                           _id   ref                       oid
0     601ac115be37ce2ead437551  Cogs  601ac114be37ce2ead437550
1     601c5460be37ce2ead43755f  Cogs  5332f5fbe4b03c9a25efd0ba
2     601ac142be37ce2ead43755d  Cogs  601ac142be37ce2ead437559
3     601ac142be37ce2ead43755a  Cogs  601ac142be37ce2ead437559
4     601ac142be37ce2ead43755e  Cogs  5332fa12e4b03c9a25efd1e7
...                        ...   ...                       ...
1162  5f77274dbe37ce6b592e90c0  Cogs  5f77274dbe37ce6b592e90bf
1163  5dc1fca91dda2c0ad7da64ae  Cogs  53e10d6368abd3c7065097cc
1164  5f494c6e04db711dd8fe87e7  Cogs  5332fa12e4b03c9a25efd1e7
1165  5a021611e4b00efe02b02a57  Cogs  5332f5f6e4b03c9a25efd0b4
1166  6026d757be37ce6369301468  Cogs  6026d757be37ce6369301467

[1167 rows x 3 columns]

In [27]:
brands.topBrand.unique()

array([ 0., nan,  1.])

In [28]:
brands.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   int64
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   name          1167 non-null   object
 5   topBrand      555 non-null    float64
 6   brandCode     933 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 63.9+ KB

In [29]:
cpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _id     1167 non-null   object
 1   ref     1167 non-null   object
 2   oid     1167 non-null   object
dtypes: object(3)
memory usage: 27.5+ KB

# SQL

In [30]:
pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandasql in /usr/local/lib/python3.7/dist-packages (0.7.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.40)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)

In [31]:
import pandasql as ps

In [32]:
receipts.rewardsReceiptStatus.unique()

array(['FINISHED', 'REJECTED', 'FLAGGED', 'SUBMITTED', 'PENDING'],
      dtype=object)

In [33]:
receipts.loc[receipts['rewardsReceiptStatus'] == 'FINISHED'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 518 entries, 0 to 1021
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      518 non-null    object
 1   bonusPointsEarned        456 non-null    float64
 2   bonusPointsEarnedReason  456 non-null    object
 3   createDate               518 non-null    object
 4   dateScanned              518 non-null    object
 5   finishedDate             518 non-null    object
 6   modifyDate               518 non-null    object
 7   pointsAwardedDate        514 non-null    object
 8   pointsEarned             518 non-null    float64
 9   purchaseDate             518 non-null    object
 10  purchasedItemCount       518 non-null    float64
 11  rewardsReceiptStatus     518 non-null    object
 12  totalSpent               518 non-null    float64
 13  userId                   518 non-null    object
dtypes: float64(4), object(10)
memory usage: 60.7+ KB

In [34]:
receipts.loc[receipts['rewardsReceiptStatus'] == 'REJECTED'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71 entries, 2 to 1117
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      71 non-null     object
 1   bonusPointsEarned        58 non-null     float64
 2   bonusPointsEarnedReason  58 non-null     object
 3   createDate               71 non-null     object
 4   dateScanned              71 non-null     object
 5   finishedDate             0 non-null      object
 6   modifyDate               71 non-null     object
 7   pointsAwardedDate        4 non-null      object
 8   pointsEarned             58 non-null     float64
 9   purchaseDate             69 non-null     object
 10  purchasedItemCount       71 non-null     float64
 11  rewardsReceiptStatus     71 non-null     object
 12  totalSpent               71 non-null     float64
 13  userId                   71 non-null     object
dtypes: float64(4), object(10)
memory usage: 8.3+ KB

In [35]:
receipts.loc[receipts['rewardsReceiptStatus'] == 'FLAGGED'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46 entries, 12 to 755
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      46 non-null     object
 1   bonusPointsEarned        30 non-null     float64
 2   bonusPointsEarnedReason  30 non-null     object
 3   createDate               46 non-null     object
 4   dateScanned              46 non-null     object
 5   finishedDate             0 non-null      object
 6   modifyDate               46 non-null     object
 7   pointsAwardedDate        19 non-null     object
 8   pointsEarned             33 non-null     float64
 9   purchaseDate             35 non-null     object
 10  purchasedItemCount       46 non-null     float64
 11  rewardsReceiptStatus     46 non-null     object
 12  totalSpent               46 non-null     float64
 13  userId                   46 non-null     object
dtypes: float64(4), object(10)
memory usage: 5.4+ KB

In [36]:
receipts.loc[receipts['rewardsReceiptStatus'] == 'SUBMITTED'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 434 entries, 71 to 1118
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      434 non-null    object
 1   bonusPointsEarned        0 non-null      float64
 2   bonusPointsEarnedReason  0 non-null      object
 3   createDate               434 non-null    object
 4   dateScanned              434 non-null    object
 5   finishedDate             0 non-null      object
 6   modifyDate               434 non-null    object
 7   pointsAwardedDate        0 non-null      object
 8   pointsEarned             0 non-null      float64
 9   purchaseDate             0 non-null      object
 10  purchasedItemCount       0 non-null      float64
 11  rewardsReceiptStatus     434 non-null    object
 12  totalSpent               0 non-null      float64
 13  userId                   434 non-null    object
dtypes: float64(4), object(10)
memory usage: 50.9+ KB

In [37]:
receipts.loc[receipts['rewardsReceiptStatus'] == 'PENDING'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 210 to 875
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      50 non-null     object
 1   bonusPointsEarned        0 non-null      float64
 2   bonusPointsEarnedReason  0 non-null      object
 3   createDate               50 non-null     object
 4   dateScanned              50 non-null     object
 5   finishedDate             50 non-null     object
 6   modifyDate               50 non-null     object
 7   pointsAwardedDate        0 non-null      object
 8   pointsEarned             0 non-null      float64
 9   purchaseDate             49 non-null     object
 10  purchasedItemCount       0 non-null      float64
 11  rewardsReceiptStatus     50 non-null     object
 12  totalSpent               49 non-null     float64
 13  userId                   50 non-null     object
dtypes: float64(4), object(10)
memory usage: 5.9+ KB

In [38]:
receipts.loc[receipts['rewardsReceiptStatus'] == 'PENDING']

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId
210,5ffe1cbe0a7214ad28002843,NaN,NaN,2021-01-12 22:03:42,2021-01-12 22:03:42,2021-01-12 22:03:42,2021-01-12 22:03:42,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
211,5ffce7db0a720f051500236e,NaN,NaN,2021-01-12 00:05:47,2021-01-12 00:05:47,2021-01-12 00:05:49,2021-01-12 00:05:47,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
213,5ffce8310a7214ad4e003797,NaN,NaN,2021-01-12 00:07:13,2021-01-12 00:07:13,2021-01-12 00:07:14,2021-01-12 00:07:13,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
214,5ffe19d90a7214ad28000e62,NaN,NaN,2021-01-12 21:51:21,2021-01-12 21:51:21,2021-01-12 21:51:21,2021-01-12 21:51:21,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
215,5ffe1d030a720f05ac002c9e,NaN,NaN,2021-01-12 22:04:51,2021-01-12 22:04:51,2021-01-12 22:04:51,2021-01-12 22:04:51,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
218,5ffce76e0a720f0515000b48,NaN,NaN,2021-01-12 00:03:58,2021-01-12 00:03:58,2021-01-12 00:04:00,2021-01-12 00:03:58,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
219,5ffe23560a720f05ac006874,NaN,NaN,2021-01-12 22:31:50,2021-01-12 22:31:50,2021-01-12 22:31:50,2021-01-12 22:31:50,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
220,5ffe22a20a720f05ac0061d7,NaN,NaN,2021-01-12 22:28:50,2021-01-12 22:28:50,2021-01-12 22:28:50,2021-01-12 22:28:50,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
221,5ffe1dc20a7214ad28003180,NaN,NaN,2021-01-12 22:08:02,2021-01-12 22:08:02,2021-01-12 22:08:03,2021-01-12 22:08:02,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
224,5ffe1aa90a7214ad280015e8,NaN,NaN,2021-01-12 21:54:49,2021-01-12 21:54:49,2021-01-12 21:54:49,2021-01-12 21:54:49,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
225,5ffcef5a0a720f0515004f1a,NaN,NaN,2021-01-12 00:37:46,2021-01-12 00:37:46,2021-01-12 00:37:46,2021-01-12 00:37:46,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
226,5ffe23d70a7214ad280068f6,NaN,NaN,2021-01-12 22:33:59,2021-01-12 22:33:59,2021-01-12 22:33:59,2021-01-12 22:33:59,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
227,5ffe18b10a7214ad280003d1,NaN,NaN,2021-01-12 21:46:25,2021-01-12 21:46:25,2021-01-12 21:46:25,2021-01-12 21:46:25,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
228,5ffcef630a720f05150050ae,NaN,NaN,2021-01-12 00:37:55,2021-01-12 00:37:55,2021-01-12 00:37:55,2021-01-12 00:37:55,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
231,5ffe20290a720f05ac004a84,NaN,NaN,2021-01-12 22:18:17,2021-01-12 22:18:17,2021-01-12 22:18:17,2021-01-12 22:18:17,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
232,5ffe1c520a7214ad2800245c,NaN,NaN,2021-01-12 22:01:54,2021-01-12 22:01:54,2021-01-12 22:01:54,2021-01-12 22:01:54,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
233,5ffe1b630a7214ad28001c79,NaN,NaN,2021-01-12 21:57:55,2021-01-12 21:57:55,2021-01-12 21:57:55,2021-01-12 21:57:55,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
235,5ffe1fa40a7214ad2800427f,NaN,NaN,2021-01-12 22:16:04,2021-01-12 22:16:04,2021-01-12 22:16:04,2021-01-12 22:16:04,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
237,5ffe23cf0a720f05ac006cc2,NaN,NaN,2021-01-12 22:33:51,2021-01-12 22:33:51,2021-01-12 22:33:51,2021-01-12 22:33:51,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
238,5ffcef570a720f0515004e91,NaN,NaN,2021-01-12 00:37:43,2021-01-12 00:37:43,2021-01-12 00:37:43,2021-01-12 00:37:43,NaN,NaN,2021-01-12 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
555,601431e40a7214ad50000041,NaN,NaN,2021-01-29 16:03:48,2021-01-29 16:03:48,2021-01-29 16:03:48,2021-01-29 16:03:48,NaN,NaN,2021-01-29 00:00:00,NaN,PENDING,2.23,6014319173c60b3ca7f3bf01
759,601d7c000a7214ad590002a1,NaN,NaN,2021-02-05 17:10:24,2021-02-05 17:10:24,2021-02-05 17:10:24,2021-02-05 17:10:24,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
760,601d7c180a720f05540002fd,NaN,NaN,2021-02-05 17:10:48,2021-02-05 17:10:48,2021-02-05 17:10:48,2021-02-05 17:10:48,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
761,601d77170a720f053c00000a,NaN,NaN,2021-02-05 16:49:27,2021-02-05 16:49:27,2021-02-05 16:49:27,2021-02-05 16:49:27,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
762,601d7b8e0a720f0554000079,NaN,NaN,2021-02-05 17:08:30,2021-02-05 17:08:30,2021-02-05 17:08:30,2021-02-05 17:08:30,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
763,601d7d580a7214ad59000928,NaN,NaN,2021-02-05 17:16:08,2021-02-05 17:16:08,2021-02-05 17:16:08,2021-02-05 17:16:08,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
764,601d7cf90a720f055400070e,NaN,NaN,2021-02-05 17:14:33,2021-02-05 17:14:33,2021-02-05 17:14:33,2021-02-05 17:14:33,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
765,601d77180a720f053c00000f,NaN,NaN,2021-02-05 16:49:28,2021-02-05 16:49:28,2021-02-05 16:49:29,2021-02-05 16:49:28,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
766,601d7d540a720f05540008a6,NaN,NaN,2021-02-05 17:16:04,2021-02-05 17:16:04,2021-02-05 17:16:04,2021-02-05 17:16:04,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
767,601d7ba00a720f05540000d2,NaN,NaN,2021-02-05 17:08:48,2021-02-05 17:08:48,2021-02-05 17:08:48,2021-02-05 17:08:48,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
768,601d7bb60a7214ad59000141,NaN,NaN,2021-02-05 17:09:10,2021-02-05 17:09:10,2021-02-05 17:09:10,2021-02-05 17:09:10,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
769,601d7cd30a720f0554000663,NaN,NaN,2021-02-05 17:13:55,2021-02-05 17:13:55,2021-02-05 17:13:55,2021-02-05 17:13:55,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
770,601d7b730a720f0554000006,NaN,NaN,2021-02-05 17:08:03,2021-02-05 17:08:03,2021-02-05 17:08:03,2021-02-05 17:08:03,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
771,601d7d340a7214ad5900086c,NaN,NaN,2021-02-05 17:15:32,2021-02-05 17:15:32,2021-02-05 17:15:32,2021-02-05 17:15:32,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
772,601d7c1e0a720f055400031a,NaN,NaN,2021-02-05 17:10:54,2021-02-05 17:10:54,2021-02-05 17:10:54,2021-02-05 17:10:54,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
774,601d7c300a7214ad59000384,NaN,NaN,2021-02-05 17:11:12,2021-02-05 17:11:12,2021-02-05 17:11:12,2021-02-05 17:11:12,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
775,601d7ca40a720f055400058b,NaN,NaN,2021-02-05 17:13:08,2021-02-05 17:13:08,2021-02-05 17:13:08,2021-02-05 17:13:08,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
776,601d7b770a720f0554000016,NaN,NaN,2021-02-05 17:08:07,2021-02-05 17:08:07,2021-02-05 17:08:07,2021-02-05 17:08:07,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
777,601d7bb60a720f055400013a,NaN,NaN,2021-02-05 17:09:10,2021-02-05 17:09:10,2021-02-05 17:09:10,2021-02-05 17:09:10,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
778,601d7c7f0a7214ad590004f2,NaN,NaN,2021-02-05 17:12:31,2021-02-05 17:12:31,2021-02-05 17:12:31,2021-02-05 17:12:31,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
779,601d7d2c0a720f05540007fa,NaN,NaN,2021-02-05 17:15:24,2021-02-05 17:15:24,2021-02-05 17:15:24,2021-02-05 17:15:24,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
780,601d7d230a720f05540007ce,NaN,NaN,2021-02-05 17:15:15,2021-02-05 17:15:15,2021-02-05 17:15:15,2021-02-05 17:15:15,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
781,601d7c500a720f0554000409,NaN,NaN,2021-02-05 17:11:44,2021-02-05 17:11:44,2021-02-05 17:11:44,2021-02-05 17:11:44,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
783,601d7c960a7214ad59000564,NaN,NaN,2021-02-05 17:12:54,2021-02-05 17:12:54,2021-02-05 17:12:54,2021-02-05 17:12:54,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
784,601d75dd0a720f05a9000004,NaN,NaN,2021-02-05 16:44:13,2021-02-05 16:44:13,2021-02-05 16:44:13,2021-02-05 16:44:13,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
785,601d7c480a720f05540003e0,NaN,NaN,2021-02-05 17:11:36,2021-02-05 17:11:36,2021-02-05 17:11:36,2021-02-05 17:11:36,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
786,601d7c280a7214ad5900035c,NaN,NaN,2021-02-05 17:11:04,2021-02-05 17:11:04,2021-02-05 17:11:04,2021-02-05 17:11:04,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
787,601d7cd50a7214ad5900069f,NaN,NaN,2021-02-05 17:13:57,2021-02-05 17:13:57,2021-02-05 17:13:57,2021-02-05 17:13:57,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
788,601d7b840a720f055400004e,NaN,NaN,2021-02-05 17:08:20,2021-02-05 17:08:20,2021-02-05 17:08:20,2021-02-05 17:08:20,NaN,NaN,2021-02-05 00:00:00,NaN,PENDING,28.57,59c124bae4b0299e55b0f330
875,602160a30a720f05c0000001,NaN,NaN,2021-02-08 16:02:43,2021-02-08 16:02:43,2021-02-08 16:02:51,2021-02-08 16:02:43,NaN,NaN,NaN,NaN,PENDING,NaN,54ca99a9e4b0b11b4f7d6dc5

In [39]:
result = ps.sqldf(
    " select average_spend_Accepted, average_spend_Rejected, total_number_items_Accepted, total_number_items_Rejected from (select sum(totalSpent)/count(_id) as average_spend_Accepted, sum(purchasedItemCount) as total_number_items_Accepted from receipts where rewardsReceiptStatus == 'FINISHED' or rewardsReceiptStatus == 'FLAGGED') as a cross join (select sum(totalSpent)/count(_id) as average_spend_Rejected, sum(purchasedItemCount) as total_number_items_Rejected from receipts where rewardsReceiptStatus == 'REJECTED') as b"
)

In [40]:
result

,average_spend_Accepted,average_spend_Rejected,total_number_items_Accepted,total_number_items_Rejected
0,88.9775,23.326056,9198.0,173.0

# Data Quality Issues Evaluation

Investigation of null values in lastLogin from users table

In [49]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    object
 3   lastLogin     433 non-null    object
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), object(6)
memory usage: 23.8+ KB

In [52]:
consumer = users.loc[users['role'] == 'consumer']

In [64]:
consumer.nunique()

_id             204
active            2
createdDate     204
lastLogin       163
role              1
signUpSource      2
state             7
dtype: int64

Among 204 unique consumer ids, there are 41 entries do not have the last login record. These NaNs indicate that the consumer might become inactive.

After going through Fetch Reward phone application's user journey, I think failing the receipt validation process might be a user pain point that causes users to churn and leave null values in users table.

Step1 1: Store NaN lastLogin userIDs from users table into a list

In [55]:
users_churn = consumer.loc[consumer['lastLogin'].isna()]

In [56]:
users_churn

,_id,active,createdDate,lastLogin,role,signUpSource,state
97,5ff616a68f142f11dd189163,True,2021-01-06 19:59:34,NaN,consumer,Email,KY
143,5ffe115404929101d0aaebb2,True,2021-01-12 21:15:00,NaN,consumer,Email,AL
148,5ffe115404929101d0aaebb2,True,2021-01-12 21:15:00,NaN,consumer,Email,AL
170,5e27526d0bdb6a138c32b556,True,2020-01-21 19:35:09,NaN,consumer,Google,WI
180,6002475cfb296c121a81b98d,True,2021-01-16 01:54:36,NaN,consumer,Email,WI
...,...,...,...,...,...,...,...
381,60186237c8b50e11d8454d5f,True,2021-02-01 20:19:03,NaN,consumer,Email,NaN
382,60186237c8b50e11d8454d5f,True,2021-02-01 20:19:03,NaN,consumer,Email,NaN
389,60217fa799409b11fcf899fe,True,2021-02-08 18:15:03,NaN,consumer,Email,WI
420,5fb0a078be5fc9775c1f3945,True,2020-11-15 03:28:56,NaN,consumer,Google,AL
429,5fb0a078be5fc9775c1f3945,True,2020-11-15 03:28:56,NaN,consumer,Google,AL

In [ ]:
with pd.option_context("display.max_rows", 1000):
    display(users_churn)

In [58]:
churn_lst = users_churn['_id'].tolist()

Step 2: Use [churn_lst] to locate [_id] in receipts table

In [59]:
churn_receipt = receipts.loc[receipts['userId'].isin(churn_lst)]

Step 3: Filter out accepted rewards

In [60]:
churn_receipt_rejected = churn_receipt.loc[(churn_receipt['rewardsReceiptStatus'] != 'FINISHED') & (churn_receipt['rewardsReceiptStatus'] != 'FLAGGED')]

In [61]:
churn_receipt_rejected

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId
246,5ffe17e20a720f05ac0000e7,750.0,"Receipt number 1 completed, bonus point schedu...",2021-01-12 21:42:58,2021-01-12 21:42:58,NaN,2021-01-13 16:00:54,NaN,750.0,2021-01-12 00:00:00,1.0,REJECTED,2.29,5ffe115404929101d0aaebb2
300,600205f60a7214ad4c00007b,NaN,NaN,2021-01-15 21:15:32,2021-01-15 21:15:32,NaN,2021-01-15 21:15:32,NaN,NaN,NaN,NaN,SUBMITTED,NaN,6000b75bbe5fc96dfee1d4d3
302,6001bb110a720f05f3000085,NaN,NaN,2021-01-15 15:56:01,2021-01-15 15:56:01,NaN,2021-01-15 15:56:01,NaN,NaN,NaN,NaN,SUBMITTED,NaN,6000b75bbe5fc96dfee1d4d3
307,600247cd0a7214ad4c00007e,NaN,NaN,2021-01-16 01:56:29,2021-01-16 01:56:29,NaN,2021-01-16 01:56:29,NaN,NaN,NaN,NaN,SUBMITTED,NaN,6002475cfb296c121a81b98d
308,60025eb70a720f05f300008e,NaN,NaN,2021-01-16 03:34:15,2021-01-16 03:34:15,NaN,2021-01-16 03:34:15,NaN,NaN,NaN,NaN,SUBMITTED,NaN,60025c65fb296c4ef805d9e6
311,600254550a720f05f300008c,NaN,NaN,2021-01-16 02:49:57,2021-01-16 02:49:57,NaN,2021-01-16 02:49:57,NaN,NaN,NaN,NaN,SUBMITTED,NaN,6002541ae257124ec6b99a3a
312,60024fa00a7214ad4c00007f,NaN,NaN,2021-01-16 02:29:52,2021-01-16 02:29:52,NaN,2021-01-16 02:29:52,NaN,NaN,NaN,NaN,SUBMITTED,NaN,60024f24e257124ec6b99a13
313,60025f550a7214ad4c000084,NaN,NaN,2021-01-16 03:36:53,2021-01-16 03:36:53,NaN,2021-01-16 03:36:53,NaN,NaN,NaN,NaN,SUBMITTED,NaN,60025c65fb296c4ef805d9e6
319,600498e60a720f05f3000093,NaN,NaN,2021-01-17 20:07:02,2021-01-17 20:07:02,NaN,2021-01-17 20:07:02,NaN,NaN,NaN,NaN,SUBMITTED,NaN,600498c4e257124ec6b9a331
322,600496350a7214ad4c000087,NaN,NaN,2021-01-17 19:55:33,2021-01-17 19:55:33,NaN,2021-01-17 19:55:33,NaN,NaN,NaN,NaN,SUBMITTED,NaN,600495c3fb296c4ef805e1fc
418,6008ea160a720f05fa000126,NaN,NaN,2021-01-21 02:42:30,2021-01-21 02:42:30,NaN,2021-01-21 02:42:30,NaN,NaN,NaN,NaN,SUBMITTED,NaN,6008e9cdb6310511daa4f2e4
432,600b89630a720f0535000011,NaN,NaN,2021-01-23 02:26:43,2021-01-23 02:26:43,NaN,2021-01-23 02:26:43,NaN,NaN,NaN,NaN,SUBMITTED,NaN,600b477e7d983a124e9ae061
645,601868260a720f05f400000e,NaN,NaN,2021-02-01 20:44:22,2021-02-01 20:44:22,NaN,2021-02-01 20:44:22,NaN,NaN,NaN,NaN,SUBMITTED,NaN,60186237c8b50e11d8454d5f
661,6018682c0a720f05f4000011,NaN,NaN,2021-02-01 20:44:28,2021-02-01 20:44:28,NaN,2021-02-01 20:44:28,NaN,NaN,NaN,NaN,SUBMITTED,NaN,60186237c8b50e11d8454d5f
671,6018b92a0a7214ad2800005e,NaN,NaN,2021-02-02 02:30:02,2021-02-02 02:30:02,NaN,2021-02-02 02:30:02,NaN,NaN,NaN,NaN,SUBMITTED,NaN,60186237c8b50e11d8454d5f
674,6018b93c0a7214ad28000061,NaN,NaN,2021-02-02 02:30:20,2021-02-02 02:30:20,NaN,2021-02-02 02:30:20,NaN,NaN,NaN,NaN,SUBMITTED,NaN,60186237c8b50e11d8454d5f

In [62]:
churn_rejected_id = churn_receipt_rejected['_id'].tolist()

In [63]:
rewardsReceiptItemList.loc[rewardsReceiptItemList['_id'].isin(churn_rejected_id)]

,index,_id,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,...,itemNumber,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId
569,246,5ffe17e20a720f05ac0000e7,072785048119,Germ-X Hand Sanitizer - Original,2.29,2.29,NaN,0,NaN,1.0,...,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,2.29,NaN
716,300,600205f60a7214ad4c00007b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800,302,6001bb110a720f05f3000085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1179,307,600247cd0a7214ad4c00007e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1180,308,60025eb70a720f05f300008e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1402,311,600254550a720f05f300008c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1403,312,60024fa00a7214ad4c00007f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1404,313,60025f550a7214ad4c000084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1927,319,600498e60a720f05f3000093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2114,322,600496350a7214ad4c000087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3063,418,6008ea160a720f05fa000126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4588,432,600b89630a720f0535000011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6804,645,601868260a720f05f400000e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6822,661,6018682c0a720f05f4000011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6842,671,6018b92a0a7214ad2800005e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6845,674,6018b93c0a7214ad28000061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Finding: This thread leads to a matrix of NaNs (with one outlier) in the rewardsReceiptItemList table. More evidence is needed to support that reward validation rejection is an actual cause of null values in users table.